.box-widget{
    &:hover {
        .box-title{
            height: 100%;
            transition: height .4s linear
        }
        img{
            transform: scale(1.2);
            transition: transform .4s;
        }
    }
    
    overflow: hidden;
    border-bottom: 4px solid #D61C62;
}